@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background-light dark:bg-background-dark font-display text-[#181113] dark:text-white/90;
}
